<div class="btn-group btn-group-justified">
	<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Sort list by">
				sort<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu">
			    <li><a href="#/courses" ng-click="sortBy('name')" title="Sort after name">Name</a></li>
			    <li><a href="#/courses" ng-click="sortBy('id')" title="Sort after id">Id</a></li>
			    <li><a href="#/courses" ng-click="sortBy('created_at')" title="Sort after the date created">Created</a></li>
		  	</ul>
	</div>
	<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Order list by">
				order<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu">
			    <li><a href="#/courses" ng-click="orderBy('asc')" title="Sorted in ascending order">Asc</a></li>
			    <li><a href="#/courses" ng-click="orderBy('desc')" title="Sorted in descending order">Desc</a></li>
		  	</ul>
	</div>
	<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				entries<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu">
		  		<li><a href="#/courses" ng-click="changePageSize(20)" title="Changes how many courses you see per page">20</a></li>
			    <li><a href="#/courses" ng-click="changePageSize(40)" title="Changes how many courses you see per page">40</a></li>
			    <li><a href="#/courses" ng-click="changePageSize(60)" title="Changes how many courses you see per page">60</a></li>
			    <li><a href="#/courses" ng-click="changePageSize(80)" title="Changes how many courses you see per page">80</a></li>
			    <li><a href="#/courses" ng-click="changePageSize(100)" title="Changes how many courses you see per page">100</a></li>
		  	</ul>
	</div>
</div>