<div class="panel panel-default" ng-repeat="(courseIndex, course) in courses.data | limitTo:pageSize">
	<div ng-if="course.user_id === userId">
		<div class="panel-heading" ng-style="{'background-color':'#f5f5f5'}" title="A course you have already looked at and is in the your courses list.">
			<a href="#/course/{{course.id}}/learning" title="Links you to it's questions and automatically adds the course to Your courses list."> <span class="glyphicon glyphicon-star"></span> {{course.name}}</a>
			<a href="#/courses" class="panel-title pull-right" ng-click="showDescription(courseIndex)" ng-hide="isShowing(courseIndex)" title="Show description"><span class="glyphicon glyphicon-chevron-down"></span></a>
		</div>
		<div class="panel-body" ng-show="isShowing(courseIndex)">
			<p>{{course.description}}</p>
			<span class="panel-title pull-right" title="Course menu">	
			<a href="#/courses" ng-click="hideDescription(courseIndex)" ng-show="isShowing(courseIndex)" title="Hide description"><span class="glyphicon glyphicon-chevron-up"></span></a>
			</span>
			
		</div>
	</div>
	<div ng-if="course.user_id !== userId">
		<div class="panel-heading" ng-style="{'background-color':'#f5f5f5'}" title="A course.">
			<a href="#/course/{{course.id}}/learning" title="Links you to it's questions and automatically adds the course to Your courses list.">{{course.name}}</a>
			<a href="#/courses" class="panel-title pull-right" ng-click="showDescription(courseIndex)" ng-hide="isShowing(courseIndex)" title="Show description"><span class="glyphicon glyphicon-chevron-down"></span></a>
		</div>
		<div class="panel-body" ng-show="isShowing(courseIndex)">
			<p>{{course.description}}</p>	
			<div>
				<a href="#/courses" ng-model="favorites" ng-click="addFavorite(course.id)" title="Chooses course to be your favorite and adds this course to the your courses list.">Add to Your Courses <span class="glyphicon glyphicon-star"></span></a>
				<a href="#/courses" class="panel-title pull-right"  ng-click="hideDescription(courseIndex)" ng-show="isShowing(courseIndex)" title="Hide description"><span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>			
		</div>
	</div>
</div>