<div class="panel panel-default" ng-repeat="(favoriteIndex, favorite) in favorites | filter:query | orderBy:orderProp">
	<div class="panel-heading" title="A course.">
		<span class="badge alert-warning" title="The course percentage. Shows how much of the course you have already learned. Maximum is 100%." ng-show="favorite.percentage!=100 && favorite.percentage!=0">{{favorite.percentage}}</span>
		<span class="badge alert-success" title="The course percentage. Shows how much of the course you have already learned. Maximum is 100%." ng-show="favorite.percentage==100">{{favorite.percentage}}</span>
		<span class="badge alert-danger" title="The course percentage. Shows how much of the course you have already learned. Maximum is 100%." ng-show="favorite.percentage==0">{{favorite.percentage}}</span>
		<a href="#/course/{{favorite.id}}/learning" title="Course title and the number of questions it contains">[{{favorite.quantity}}] {{favorite.name}}</a>
		<span class="panel-title pull-right" title="Course menu">	
			<div class="dropdown">
			<a href="#/favorites" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#/favorites" ng-click="showDescription(favoriteIndex)" ng-hide="isShowing(favoriteIndex)" title="Show description">Show</a></li>
				<li><a href="#/favorites" ng-click="hideDescription(favoriteIndex)" ng-show="isShowing(favoriteIndex)" title="Hide description">Hide</a></li>
				<li class="divider"></li>
				<li><a href="#/favorites" ng-model="favorites" ng-click="resetPercentage(favorite.id)" title="Resets the course percentage.">Reset</a></li>
				<li><a href="#/favorites" ng-model="favorites" ng-click="removeFavorite(favorite.id)" title="Removes this course from this list">Remove</a></li>
			</ul>
			</div>
		</span>
	</div>
	<div class="panel-body" ng-show="isShowing(favoriteIndex)">
		<p>{{favorite.description}}</p>
	</div>
</div>	