<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="panel-footer text-center visible-sm visible-md visible-lg">
        Version 2.0 of Kakadu 
        <a href="http://uibk.ac.at/" title="Links to the university of innsbruck">Universit&auml;t Innsbruck</a> - <a href="http://informatik.uibk.ac.at/" title="Links to the institute of computer science">Institut f&uuml;r Informatik</a> - <a href="http://dbis-informatik.uibk.ac.at/" title="Links to the databases and information systems of the institute of computer science">Databases and Information Systems</a>             
    </div>
    <div class="panel-footer text-center visible-xs">
        Version 2.0 of Kakadu             
    </div>
</nav>