<div cg-busy="{promise:promise,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<header></header>

	<!-- Question/learning view of our chosen course, part of our index.html view-->

	<div class="page-header">
		<h1 title="Here you learn the course from the given questions. You yourself are responsible for how you learn. A learn algorithm makes sure your wrongly answered questions appear more often. You can stop whenever you want." class="hidden-xs">Quiz</h1> 
		<h2 class="hidden-sm hidden-md hidden-lg">Quiz</h2>
	</div>

	<progressbar></progressbar>
	
	<questiontypes></questiontypes>

	<br>
</div>