<!-- header for courselist view, difference: has logout button -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a href="#/favorites" class="navbar-brand pull-left" title="Links to Your courses">Kakadu</a> 
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
		</div>

		<nav class="navbar-collapse collapse">
			<ul class="navbar-nav nav pull-right">
				<li><a href="#/courses" title="Links to All courses">All courses</a></li>
				<li><a href="#/favorites" title="Links to Your courses">Your courses</a></li>
				<li><a href="#/" ng-click="logOut()" title="Logs you out">Log Out</a></li>
			</ul>
		</nav>
	</div>
</nav>

<!-- Courseslist view, part of our index.html view -->
<div class="container-fluid">
	<div class="page-header">
		<h1 title="This list shows all existing courses.">All courses</h1> 
	</div>
	<h5 class="text-center" ng-style="notifStyle">{{notification}}</h5>
	<div class="col-md-12">
		<!--Body content-->
		<!-- search -->
		<form ng-submit="search(searchInput)">Search: <input ng-model="searchInput" title="Search for a course from this list"></input>
			Sort by:
			  <select ng-model="orderProp" title="Sorts the shown page">
			    <option value="name">Alphabetical</option>
			    <option value="age">Newest</option>
			  </select>
		</form>
		<!-- list -->
		<button ng-click="firstPage()" title="Show first page"><span class="glyphicon glyphicon-step-backward"></button>
		<button ng-click="previousPage()" title="Show previous page"><span class="glyphicon glyphicon-chevron-left"></button>
		<button ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">{{$index + 1}}</button>
		<button ng-click="nextPage()" title="Show next page"><span class="glyphicon glyphicon-chevron-right"></button>
		<button ng-click="lastPage()" title="Show last page"><span class="glyphicon glyphicon-step-forward"></button>
		<button ng-click="changePageSize()" title="Changes how many courses you see per page">add +25 entry per site </button>
		<!-- list -->
		<div class="panel panel-default" ng-repeat="(courseIndex, course) in courses.data | orderBy:orderProp | limitTo:pageSize">
			<!-- Default panel contents -->
			<div class="panel-heading" title="A course.">
				<a href="#/course/{{favorite.id}}/learning" title="Course title">{{course.name}}</a>
				<span class="panel-title pull-right" title="Course menu">	
					<div class="dropdown">
					<a href="#/courses" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/courses" ng-click="showDescription(courseIndex)" ng-hide="isShowing(courseIndex)" title="Show description">Show</a></li>
						<li><a href="#/courses" ng-click="hideDescription(courseIndex)" ng-show="isShowing(courseIndex)" title="Hide description">Hide</a></li>
						<li class="divider"></li>
						<li><a href="#/courses" ng-model="favorites" ng-click="addFavorite(course.id)" title="Add this course to the your courses list.">add</a></li>
					</ul>
					</div>
				</span>
			</div>
			<div class="panel-body" ng-show="isShowing(courseIndex)">
				<p>{{course.description}}</p>
			</div>
		</div>									
	</div>
</div>			

<!--
			<div class="list-group" ng-repeat="course in courses.data | orderBy:orderProp | limitTo:pageSize">
			<div ng-if="course.user_id === userId">
				<a href="#/course/{{course.id}}/learning" class="list-group-item" ng-style="{'background-color':'#CCFFFF'}" title="A course you have already looked at and is in the your courses list.">
			  		<h4 class="list-group-item-heading">{{course.name}}</h4>
			  		<p class="list-group-item-text">{{course.description}}</p>
			  	</a>
			  	<button type="button" class="btn btn-default btn-block" ng-model="favorites" ng-click="addFavorite(course.id)" ng-style="{'background-color':'#CCFFFF'}" title="Add this course to your courses list.">add to "Your courses"</button>
			</div>
			<div ng-if="course.user_id !== userId">
				<a href="#/course/{{course.id}}/learning" class="list-group-item" title="A course.">
			  		<h4 class="list-group-item-heading">{{course.name}}</h4>
			  		<p class="list-group-item-text">{{course.description}}</p>
			  	</a>
			  	<button type="button" class="btn btn-default btn-block" ng-model="favorites" ng-click="addFavorite(course.id)" title="Add this course to your courses list.">add to "Your courses"</button>
			</div>
		</div> 	
-->