<!-- header for question/learning view, difference: has logout button -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a href="#/courses" class="navbar-brand pull-left">Kakadu</a> 
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
		</div>

		<nav class="navbar-collapse collapse">
			<ul class="navbar-nav nav pull-right">
				<li><a href="#/courses" class="btn btn-large disabled">Click Kakadu to go back to the courses</a></li>
				<li><a href="#/" ng-click="logOut()">Log Out</a></li>
			</ul>
		</nav>
	</div>
</nav>

<!-- Question/learning view of our chosen course, part of our index.html view-->
<div class="container">
	<div class="col-md-9">

		<div class="page-header">
			<h1>Quiz</h1> 
		</div>
		<p>Type = {{question.type}}</p>
 
		<div ng-switch on="question.type">
		    <div ng-switch-when="simple">
				<h2><p>Question</p></h2>
				<p>{{question.question}}</p> 
				<h2> <p>Answer</p></h2>
				<!-- show simplequestion, if showSimpleAnswer is true, else hide -->
				<div class ng-show="showSimpleAnswer" class="ng-hide">
					<p>{{question.answer}}</p>
					<div class ng-show="simpleAnswered" class="ng-hide">
						<button type="button" class="btn btn-default" ng-click="simpleAnswerCorrect()"><span class="glyphicon glyphicon-ok"></button> 
						<button type="button" class="btn btn-default" ng-click="simpleAnswerWrong()"><span class="glyphicon glyphicon-remove"></button>
					</div> 
				</div>
				<br>	
				<!-- hide show button after showing answer and checking answer is done -->
				<button type="button" class="btn btn-primary btn-large" ng-hide="showSimpleAnswer=='true' && simpleAnswered=='false'" ng-click="showSimple()">show</button>
				<!-- show next button after showing answer and checking answer is done -->
				<button type="next" class="btn btn-primary btn-large" ng-show="showSimpleAnswer=='true' && simpleAnswered=='false'" ng-click="nextQuestion()">next</button>
		    </div>
		    <div ng-switch-when="cloze">
				<h2><p>Question</p></h2>
				<p>{{question.question}}</p> 
				<h2> <p>Answer</p></h2>
				<p>{{question.answer}}</p>
				<button type="next" class="btn btn-primary btn-large" ng-click="nextQuestion()">next</button> 	
		    </div>
		    <div ng-switch-when="multiple">
				<h2><p>Question</p></h2>
				<p>{{question.question}}</p> 
				<h2> <p>Choices</p></h2>
				<p>{{question.choices}}</p>					
				<h2> <p>Answer</p></h2>
				<p>{{question.answer}}</p>
				<button type="next" class="btn btn-primary btn-large" ng-click="nextQuestion()">next</button> 	
		    </div>
		    <div ng-switch-when="dragdrop">
				<h2><p>Question</p></h2>
				<p>{{question.question}}</p> 
				<h2> <p>Choices</p></h2>
				<p>{{question.choices}}</p>					
				<h2> <p>Answer</p></h2>
				<p>{{question.answer}}</p>
				<button type="next" class="btn btn-primary btn-large" ng-click="nextQuestion()">next</button> 	
		    </div>
		</div>
		
	<!--<div>
			 <p>
				 <button type="check" class="btn btn-primary btn-large">check</button> 
				<button type="next" class="btn btn-primary btn-large" ng-click="nextQuestion()">next</button>
			</p>
		</div>-->
	</div>
</div>		



		<!-- 
		Every data sent in the response 
		catalog:
		<p>{{question.catalog}}</p>
		course:
		<p>{{question.course}}</p>
		questionid:
		<p>{{question.id}}</p>
		questiontype:
		<p>{{question.type}}</p>
		questionquestion:
		<p>{{question.question}}</p>
		questionanswer:
		<p>{{question.answer}}</p>
		questionchoices, if there are:
		<p>{{question.choices}}</p>
		-->