
<header></header>

<!-- Courseslist view, part of our index.html view -->

<div class="page-header">
	<h1 title="This list shows all existing courses." class="hidden-xs">All courses</h1> 
	<h3 class="hidden-sm hidden-md hidden-lg">All courses</h3> 
</div>

<search></search>
<sorting></sorting>

<br>	

<div class="alert alert-success text-center" role="alert" ng-show="notifSuccess">
	{{notification}}
</div>
<div class="alert alert-danger text-center" role="alert" ng-show="notifDanger">
	{{notification}}
</div>

<paginate></paginate>
<list-courses></list-courses>
<paginate></paginate>								

		