<!-- Login view, part of our index.html view -->
<div class="container0">
<div class="col-md-6 col-md-offset-3">

  <!-- PAGE TITLE -->
  <div class="page-header">
    <!-- <img ng-src="images/"> -->
    <h1>Kakadu</h1> 
  </div>
  <h3 class="form-signin-heading">Please sign in</h3>
  <!-- FORM -->
  <form>
    <!-- EMail -->
    <div id="email" class="form-group">
      <label>E-Mail</label>
      <input type="text" name="email" class="form-control" placeholder="user@example.com">
      <span class="help-block"></span>
    </div>

    <!-- Password -->
    <div id="password" class="form-group">
      <label>Password</label>
      <input type="text" name="password" class="form-control">
      <span class="help-block"></span>
    </div>

    <!-- LOGIN BUTTON -->
    <button type="submit" name="login" id="login" class="btn btn-primary btn-lg btn-block">Login</button>
  </form>

  </div>
  </div>