<header-index></header-index>

<!-- Login view, part of our index.html view -->

<div class=".col-xs-6 .col-md-4">
    <div class="page-header">
        <h1 title="You have to be signed in to use kakadu" class="hidden-xs">Please sign in</h1> 
        <h2 title="You have to be signed in to use kakadu" class="hidden-sm hidden-md hidden-lg">Please sign in</h2>
        If you are not registered yet, register <a href="#/registration" title="Links you to the registration">here</a>!
    </div>
    <div class="alert alert-danger text-center" role="alert" ng-show="notifDanger">
        {{notification}}
    </div>
    <div class="alert alert-info text-center" role="alert" ng-show="notifInfo">
        {{notification}}
    </div>
    <!-- Login form -->
    <form class="form-horizontal" ng-submit="login()">
        <div class="control-group">
            <label class="control-label" for="inputEmail">E-Mail</label>
            <div class="controls">
                <input type="text" id="inputEmail" class="form-control" ng-model="credentials.email" required>
            </div>

        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" id="inputPassword" class="form-control" ng-model="credentials.password" required>
            </div>

        </div>
        <span class="help-block"></span>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary btn-block" id="loginBtn">Login</button>
            </div>
        </div>
    </form>
    <span class="help-block"></span>   
</div>
