<header-index></header-index>

<!-- Registration view, part of our index.html view -->

<div class=".col-xs-6 .col-md-4">

    <div class="page-header-registration">
		<h1 title="Here you can register into the learn platform." class="hidden-xs">Registration</h1> 
        <h4 class="hidden-sm hidden-md hidden-lg">Registration</h4> 
    </div>
    <div class="alert alert-danger text-center" role="alert" ng-show="notifDanger">
        {{notification}}
    </div>

    <!-- Registration form -->
    <form class="form-horizontal" ng-submit="register()">
    	<div class="control-group">
            <label class="control-label" for="inputEmail">Displayname</label>
            <div class="controls">
                <input type="text" id="inputEmail" class="form-control" placeholder="user" ng-model="credentials.displayname" required>
            </div>
            <span class="help-block hidden-xs"></span>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">E-Mail</label>
            <div class="controls">
                <input type="text" id="inputEmail" class="form-control" placeholder="user@example.com" ng-model="credentials.email" required>
            </div>
            <span class="help-block hidden-xs"></span>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" id="inputPassword" class="form-control" placeholder="password" ng-model="credentials.password" required>
            </div>
            <span class="help-block hidden-xs"></span>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Confirm password</label>
            <div class="controls">
                <input type="password" id="inputPassword" class="form-control" placeholder="password" ng-model="credentials.password_confirmation"required>
            </div>
            <span class="help-block hidden-xs"></span>
        </div>
        <br class="hidden-xs">
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary btn-lg btn-block hidden-xs">Register</button>
                <button type="submit" class="btn btn-primary btn-block hidden-sm hidden-md hidden-lg">Register</button>
            </div>
        </div>
    </form>
</div>
